<main class="container" ng-show="isSignedIn()">
	<section role="region">
		<h2><i class="fa fa-user" aria-hidden="true"></i> My Account</h2>
	</section>
	<hr />
	<section role="region">
		<div>
			<p><span class="acct-title">Username:</span> {{user.username}}</p>
			<p><span class="acct-title">Name:</span> {{user.name}}</p>
			<p><span class="acct-title">YouTube Username:</span> <span ng-show="user.ytusername">{{user.ytusername}}</span><span ng-hide="user.ytusername">YouTube Account not linked</span></p>
			<p><span class="acct-title">Twitch.Tv Username:</span> <span ng-show="user.twusername">{{user.twusername}}</span><span ng-hide="user.twusername">Twitch.Tv Account not linked</span></p>
		</div>
		<div> 
			<button class="btn yt-btn"><i class="fa fa-youtube-play" aria-hidden="true"></i>    Link YouTube Account</button>
			<button class="btn tw-btn"><i class="fa fa-twitch" aria-hidden="true"></i>     Link Twitch.tv Account</button>
		</div>
	</section>
</main>
