<main class="container" ng-show="isSignedIn()">
	<section role="region">
		<h2 class="account-head"><i class="fa fa-user" aria-hidden="true"></i> My Account</h2>
		<button class="btn btn-danger logout-btn" ng-click="logout()" ui-sref="home">Logout</button>
	</section>
	<hr />
	<section role="region">
		<div>
			<div>
				<p><span><i class="fa fa-check-circle-o verified" aria-hidden="true"></i> = Verified</span>   <span><i class="fa fa-times-circle-o not-verified" aria-hidden="true"></i> = Not Verified</span></p>
			</div>
			<p><span class="acct-title">VidHub Central Username:</span> {{user.username}}</p>
			<p><span class="acct-title">First Name:</span> {{user.firstName}}</p>
			<p><span class="acct-title">Last Name:</span> {{user.lastName}}</p>
			<p><span class="acct-title">YouTube Username:</span> <span ng-show="user.youtubeUsername">{{user.youtubeUsername}} <i class="fa fa-check-circle-o verified" aria-hidden="true" ng-if="user.youtubeAccessToken"></i><i class="fa fa-times-circle-o not-verified" aria-hidden="true" ng-if="!user.youtubeAccessToken"></i>      <a class="btn yt-btn" href="/api/auth/youtube" ng-if="user.youtubeUsername && !user.youtubeAccessToken"><i class="fa fa-youtube-play" aria-hidden="true"></i>    Verify YouTube Account</a></span><span ng-hide="user.youtubeUsername">YouTube Account not linked</span></p>
			<p><span class="acct-title">Twitch.Tv Username:</span> <span ng-show="user.twitchUsername">{{user.twitchUsername}} <i class="fa fa-check-circle-o verified" aria-hidden="true" ng-if="user.twitchAccessToken"></i><i class="fa fa-times-circle-o not-verified" aria-hidden="true" ng-if="!user.twitchAccessToken"></i>     <a class="btn tw-btn" href="/api/auth/twitch" ng-if="user.twitchUsername && !user.twitchAccessToken"><i class="fa fa-twitch" aria-hidden="true"></i>     Verify Twitch.tv Account</a></span><span ng-hide="user.twitchUsername">Twitch.tv Account not linked</span></p>
		</div>
		<div class="login-form" ng-if="!user.twitchUsername || !user.youtubeUsername">
			<h2>Instructions</h2>
			<p>In order to use this app, please tell us your YouTube and/or Twitch username. Then verify those accounts via the buttons that will appear next to the username.</p>
			<p class="inv-error" ng-show="error">Invalid username. Please try again.</p>
			<hr class="login-hr" />
			<form name="usernameForm" ng-submit="addUsername(username, service)">
				<label for="username">{{service}} Username:</label>
				<input type="text" name="username" id="username" ng-model="username" class="form-control" required />
				<p ng-show="usernameForm.username.$invalid && usernameForm.username.$touched" class="inv-error">Username cannot be blank</p>
				<label form="service">Select Service:</label>
				<br />
				<label><input type="radio" name="service" ng-model="service" id="service" value="YouTube" required />Youtube</label>
				<label><input type="radio" name="service" ng-model="service" id="service" value="Twitch" required /> Twitch</label>
				<br />
				<br />
				<button type="submit" class="btn btn-default" ng-disabled="usernameForm.$invalid">Add {{service}} Username</button>
			</form>
		</div>
	</section>
</main>
