<main class="container" ng-show="isSignedIn()">
	<section role="region">
		<h2 class="account-head"><i class="fa fa-user" aria-hidden="true"></i> My Account</h2>
		<button class="btn btn-danger logout-btn" ng-click="logout()" ui-sref="home">Logout</button>
	</section>
	<hr />
	<section role="region">
		<div>
			<p><span class="acct-title">Username:</span> {{user.username}}</p>
			<p><span class="acct-title">First Name:</span> {{user.firstName}}</p>
			<p><span class="acct-title">Last Name:</span> {{user.lastName}}</p>
			<p><span class="acct-title">YouTube Username:</span> <span ng-show="user.ytusername">{{user.youtubeUsername}}</span><span ng-hide="user.ytusername">YouTube Account not linked</span></p>
			<p><span class="acct-title">Twitch.Tv Username:</span> <span ng-show="user.twusername">{{user.twitchUsername}}</span><span ng-hide="user.twusername">Twitch.Tv Account not linked</span></p>
		</div>
		<div class="act-btns"> 
			<a class="btn yt-btn" href="/api/auth/youtube"><i class="fa fa-youtube-play" aria-hidden="true"></i>    Link YouTube Account</a>
			<a class="btn tw-btn" href="/api/auth/twitch"><i class="fa fa-twitch" aria-hidden="true"></i>     Link Twitch.tv Account</a>
		</div>
	</section>
</main>
