<div class="modal-header">
	<h3>{{channel.name}}'s Recent Activity</h3>
	<table class="table" ng-if="channel.activities.length > 0">
		<thead>
			<tr>
				<th>Activity</th><th>Date</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="activity in activities | orderBy: '-date'">
				<td>{{activity.name}}</td>
				<td>{{activity.date}}</td>
			</tr>
		</tbody>
	</table>
	<div ng-if="channel.activities.length == 0">
		<p>No recent activity</p>
	</div>
	<button class="btn btn-danger pull-right" ng-click="close()">Close</button>
</div>