<main class="container" ng-show="isSignedIn()">
	<section role="region">
		<h2><i class="fa fa-rss" aria-hidden="true"></i> Live Feed<button ng-click="refresh()" class="btn btn-primary refresh-btn"><i class="fa fa-refresh" ng-class="{loading: loading}" aria-hidden="true"></i></button></h2>
	</section>
	<hr />
	<section role="region">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Channel</th>
					<th>Activity</th>
					<th>Date</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="activity in activities | orderBy: '-date' | unique:'name'">
					<td>{{activity.channelName}}</td>
					<td>{{activity.name}}</td>
					<td>{{activity.date | date:'short'}}</td>
				</tr>
			</tbody>
		</table>
	</section>
</main>