<main class="container" ng-show="isSignedIn">	

	<section role="region">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<h2><i class="fa fa-list-ul" aria-hidden="true"></i> All Channels</h2>
			<hr />

			<section role="region">
				<div class="search input-group">
					<input class="form-control" type="text" name="search" ng-model="searchTerm" placeholder="Search...">
					<span class="input-group-addon"><i class="fa fa-search" aria-hidden="true"></i></span>
				</div>
			</section>

			<section role="region">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Channel Name</th>
							<th>Subscriber Count</th>
							<th>Video Service</th>
							<th>Tags</th>
							<th>Favorite</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="channel in channels | orderBy: '-subscribers' | filter: searchTerm">
							<td>{{channel.name}}</td>
							<td>{{channel.subscribers}}</td>
							<td>{{channel.service}}</td>
							<td>
								<span ng-repeat="tag in channel.tags| orderBy: '-tag'">
									<span ng-click="getTags(tag)" class="tag-link">{{tag}}</span>
									<span ng-if="$index < channel.tags.length - 1" class="tag-link">, </span>
								</span> 
								<span uib-popover uib-popover-template="'addTag.html'" popover-trigger="outsideclick" popover-title="Add a Tag" ng-if="channel.tags.length < 10" aria-label="Edit Tags" class="edit"> <span class="tag-link" ng-if="channel.tags.length == 0">(add a tag) </span><i class="fa fa-pencil" aria-hidden="true"></i></span>
							</td>
							<td>
								<span class="fav" ng-click="favorite(channel)"><i class="fa fa-heart-o heart" aria-hidden="true" ng-hide="channel.favorite"></i><i class="fa fa-heart heart" aria-hidden="true" ng-show="channel.favorite"></i></span>
							</td>
						</tr>
					</tbody>
				</table>
			</section>
		</div>
	</main>
</section>

<script type="text/ng-template" id="addTag.html">
	<div class="popover-content">
		<div class="tag-list">
			<p ng-repeat="tag in channel.tags" class="tag-list-item">{{tag}} - <span aria-label="delete" ng-click="deleteTag(channel, tag)"><i class="fa fa-trash-o delete" aria-hidden="true"></i></span></p>
		</div>
		<form class="input-group" ng-submit="addTag(channel, newTag)">
			<input class="form-control" type="text" ng-model="newTag" placeholder="e.g. gaming" />
			<span class="input-group-btn">
				<button class="btn btn-default" type="submit" aria-label="add">Add</button>
			</span>
		</form>
	</div>
</script>
