@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro';

/*Styles for small screens*/
@media (max-width: 768px) {
	.login-form {
		width: 80%;
	}	
}

/*Styles for medium screens*/
@media (min-width: 768px) {
	.collapser {
		display: none;
	}

	.login-form {
		width: 50%;
	}
}

/*Styles for large screens*/
@media (min-width: 1200px) {
	.login-form {
		width: 50%;
	}
}

.login-form, .login-title {
	margin: auto;
}

.login-title {
	width: 80%;
	text-align: center;
}

body {
	padding-bottom: 70px;
	font-family: "Source Sans Pro", Helvetica, sans-serif;
}

.custom-navbar {
	background-color: #4472c4;
}

.custom-navbar .navbar-brand, .custom-navbar .navbar-nav > li > a {
	color: white;
}

.custom-navbar .navbar-nav > li > a:hover, .custom-navbar .navbar-nav > li > a:focus {
	background-color: #4472c4;
	color: white;
	text-decoration: underline;
}

.custom-navbar .navbar-nav>li>a {
	display: inline-block;
	float: right;
}

main {
	margin-top: 70px;
}

.tag-link:hover {
	cursor: pointer;
	color: grey;
}

.tag-link {
	color: darkgrey;
}

.fav {
	color: red;
}

.fav:hover, .edit:hover, .delete:hover, .fav-tag-link:hover, .clickable-row {
	cursor: pointer;
}

.no-content {
	font-size: 2rem;
}

.search {
	margin-bottom: 30px;
}

.popover {
	z-index: 10;
}

.tag-list {
	margin-top: 0px;
	margin-bottom: 10px;
}

.tag-list-item {
	margin-top: 0px;
	margin-bottom: 0px;
}

.delete {
	color: red;
}

.fav-holder {
	text-align: center;
}

.fav-card {
	height: 300px;
	width: 300px;
	margin: 20px;
	background-color: lightgrey;
	border: 1px solid darkgrey;
}

.fav-tag-link {
	color: white;
}

.fav-button {
	position: absolute;
	right: 10px;
	top: 0px;
	font-size: 2rem;
}

.activity-table {
	overflow-y: scroll;
	text-align: left;
}

.no-act-msg {
	margin-top: 50px;
}

.cat-heading {
	font-size: 2rem;
}

.panel-body {
	padding-top: 5px;
}

.btn-navbar {
	z-index: 1000;
	background-color: white;
	margin-top: 8px;
	margin-bottom: 8px;
}

.nav-collapse {
	text-align: left;
}

.yt-btn {
	color: white;
	background-color: #e52d27;
	margin-right: 20px;
}

.tw-btn {
	color: white;
	background-color: #6441a5;
}

.yt-btn:hover, .tw-btn:hover, .yt-btn:focus, .tw-btn:focus {
	color: white;
}

.acct-title {
	font-weight: bold;
	text-decoration: underline;
}

.login-form {
	margin-top: 60px;
	background-color: #F2F2F2;
	border-radius: 10px;
	padding: 20px;
}

.login-hr {
	border-color: #4472c4;
}

.inv-error {
	color: red;
}

.logout-btn, .account-head {
	display: inline-block;
}

.logout-btn {
	margin-left: 30px;
}

.verified {
	color: #009900;
}

.not-verified {
	color: red;
}

.empty-msg {
	text-align: center;
}
